.logo {
  color: #2e2f42;
}

.navigation-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contact-information {
  font-style: normal;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
