.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
